## Task-3 Data Extraction and Transformation

In Task-1 the menu items and their price are made it to a list and printed.so, In this notebook instead of printing the menu is made into a dataframe where basic data cleaning and Transformation is done

In [1]:
#importing necessary libraries

from selenium import webdriver
from selenium.webdriver.firefox.service import Service
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time

In [2]:
#setting up webdriver forfirefox
#updating path to geckodriver
service=Service(r'C:\users\asuna\Downloads\geckodriver.exe') #different for different devices
driver= webdriver.Firefox(service=service)
url='https://magicpin.in/New-Delhi/Janpath/Restaurant/HaldiramS/store/572293/delivery/'  #taken a restaurant which have hidden element in the items list
driver.get(url)
#giving time to fully load the page
time.sleep(3)

In [3]:
#expanding the hidden element and counting number clicks
count=0
hidden_elements=driver.find_elements(By.CLASS_NAME,'minimiseIcon')
if hidden_elements:
    for element in hidden_elements:
        element.click()
        count+=1
else:
    print('No hidden elements')
print(f'Number of click={count}')

Number of click=14

In [4]:
#Getting the page source after elements are expanded
page_source=driver.page_source
#closing the tab
driver.quit()

In [5]:
#Scraping items and price
soup=BeautifulSoup(page_source,'html.parser')

# Scraping item and prices
items = soup.find_all(class_="itemName")
prices = soup.find_all(class_="itemPrice")

item_names=[item.text.strip() for item in items]
price=[price.text.strip() for price in prices]

In [6]:
import pandas as pd

In [7]:
#Making a Dataframe
df=pd.DataFrame({'Item':item_names,'Price':price})

In [8]:
df.tail()

                      Item Price
130    Kadhi Pakora (300g)   ₹72
131  Paneer Makhani (300g)  ₹140
132  Purani Dilli Ke Chole   ₹76
133   Rajma Raseela (300g)   ₹76
134    Shahi Paneer (300g)  ₹140

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Item    135 non-null    object
 1   Price   135 non-null    object
dtypes: object(2)
memory usage: 2.2+ KB

In [10]:
#CHecking for Unique values
df['Item'].nunique()

110

In [11]:
#Checking for total duplicate and total original Values
duplicates = df.duplicated()
duplicates.value_counts()

False    110
True      25
Name: count, dtype: int64

In [12]:
#removing duplicates
df=df.drop_duplicates()

In [13]:
df.info

<bound method DataFrame.info of                       Item Price
0           Choley Bhature  ₹190
1               Kaju Katli  ₹529
2             Idli Sambhar  ₹145
3        Special Veg Thali  ₹395
4             Samosa-2 Pcs   ₹42
..                     ...   ...
130    Kadhi Pakora (300g)   ₹72
131  Paneer Makhani (300g)  ₹140
132  Purani Dilli Ke Chole   ₹76
133   Rajma Raseela (300g)   ₹76
134    Shahi Paneer (300g)  ₹140

[110 rows x 2 columns]>

In [14]:
#Reseting the index values
df2=df.reset_index(drop=True)
df2.tail()

                      Item Price
105    Kadhi Pakora (300g)   ₹72
106  Paneer Makhani (300g)  ₹140
107  Purani Dilli Ke Chole   ₹76
108   Rajma Raseela (300g)   ₹76
109    Shahi Paneer (300g)  ₹140

In [15]:
#Function to remove '₹' symbol in price column
def col(x):
    c=x.split('₹')
    p=c[1]
    return p
df2['Price']=df2['Price'].apply(lambda x:col(x))

In [16]:
df2.head()

                Item Price
0     Choley Bhature   190
1         Kaju Katli   529
2       Idli Sambhar   145
3  Special Veg Thali   395
4       Samosa-2 Pcs    42

In [17]:
#Exporting into a CSV file
df2.to_csv('Menu list.csv',index=False)